:root {
    --offset: 6px;
}

h2 {
    width: 100%;
    font-size: 90px;
    font-family: Helvetica;
    line-height: 1.06;
    letter-spacing: -0.02em;
    color: #1d1d1f;
    padding-top: 2rem;
}

.mask {
    height: 106px;
    position: relative;
    overflow: hidden;
    margin-top: var(--offset);
}

.mask article {
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 100px;
    padding-bottom: var(--offset);
    background-size: 100% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
}

.mask article[data-show] {
    transform: translateY(-100%);
    transition: 0.5s transform ease-in-out;
}

.mask article[data-up] {
    transform: translateY(-200%);
    transition: 0.5s transform ease-in-out;
}

.mask article:nth-child(1) {
    background-image: linear-gradient(45deg, #0ecffe 50%, #07a6f1);
}

.mask article:nth-child(2) {
    background-image: linear-gradient(45deg, #18e198 50%, #0ec15d);
}

.mask article:nth-child(3) {
    background-image: linear-gradient(45deg, #8a7cfb 50%, #633e9c);
}

.mask article:nth-child(4) {
    background-image: linear-gradient(45deg, #fa7671 50%, #f45f7f);
}

.slider {
    margin-top: -1.99rem;
    padding: 20px;
    background-image: linear-gradient(45deg, #1b499ee0 10%, #4c14b3);
    padding-bottom: 60px;
}

.slider img {
    width: 100%;
}

.sl-btn {
    width: 450px;
    margin-top: 2rem;
    position: relative;
}

.slider-btn {
    width: 250px;
    height: 150px;
    padding: 17px;
    text-align: center;
    border-radius: 20px;
    color: white;
}

.sl-btn .col-lg-6:nth-child(1) a {
    background-image: linear-gradient(60deg, #339299 10%, #633e9c);
}

.slider a:nth-child(1) {
    border-radius: 7px;
    border: .7px groove #0ec15d;
    border-width: 1px 0 0 1px;
}

.slider a:nth-child(1):hover {
    border-width: 1px;
}

.slider a:nth-child(2):hover,
.slider a:nth-child(1):hover {
    background-image: linear-gradient(45deg, #633e9c 50%, #339299);
    color: white;
    transition: ease-in .3s;
    box-shadow: 6px 0px 16px 0px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width:991px) {
    .slider img {
        display: none;
    }
    h2 {
        width: 100%;
        font-size: 90px;
        font-family: Helvetica;
        line-height: 1.06;
        letter-spacing: -0.02em;
        color: #1d1d1f;
        padding-top: 2rem;
    }
    .sl-btn .sts {
        margin-top: 2.3rem;
    }
}

@media screen and (max-width:690px) {
    h2,
    .mask {
        font-size: 70px;
    }
    .mask article {
        display: block;
        box-sizing: border-box;
        position: absolute;
        top: 92px;
        padding-bottom: 20px;
        background-size: 100% 100%;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-repeat: no-repeat;
    }
    .mask {
        height: 100px;
        position: relative;
        overflow: hidden;
        margin-top: var(--offset);
    }
    .sl-btn .col-lg-6:nth-child(2) a {
        margin-top: 1rem;
    }
}

@media screen and (max-width:890px) {}