    /*----------  Header  ----------*/
    
    body {
        overflow-x: hidden !important;
    }
    
    .bg-primary {
        background: #ff0000 !important;
    }
    
    .ftco-section {
        padding: 2em 0;
    }
    
    .ftco-no-pt {
        padding-top: 0;
    }
    
    .ftco-no-pb {
        padding-bottom: 0;
    }
    
    .heading-section {
        font-size: 28px;
        color: #000;
    }
    
    .ftco-navbar-light {
        background: #252525 !important;
        z-index: 3;
        padding: 0;
    }
    
    @media (max-width: 991.98px) {
        .ftco-navbar-light {
            background: #000 !important;
            position:relative;
            top: 0;
            padding: 20px 15px !important;
        }
    }
    
    @media (max-width: 991.98px) {
        .ftco-navbar-light .navbar-nav {
            padding-bottom: 10px;
        }
    }
    
    .ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
        font-size: 11px;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-left: 20px;
        padding-right: 20px;
        font-weight: 500;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        position: relative;
        opacity: 1 !important;
    }
    
    .ftco-navbar-light .navbar-nav>.nav-item>.nav-link:before {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #ff0000;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }
    
    @media (prefers-reduced-motion: reduce) {
        .ftco-navbar-light .navbar-nav>.nav-item>.nav-link:before {
            -webkit-transition: none;
            -o-transition: none;
            transition: none;
        }
    }
    
    .ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover {
        color: #ff0000;
    }
    
    .ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover:before {
        width: 100%;
    }
    
    @media (max-width: 991.98px) {
        .ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
            padding-left: 0;
            padding-right: 0;
            padding-top: .7rem;
            padding-bottom: .7rem;
            color: rgba(255, 255, 255, 0.7);
        }
        .ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover {
            color: #fff;
        }
    }
    
    @media (max-width: 767.98px) {
        .ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }
    }
    
    .ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu {
        border: none;
        background: #fff;
        -webkit-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
        -moz-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
        box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
        border-radius: 4px;
    }
    
    .ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu .dropdown-item {
        font-size: 12px;
        color: #000;
    }
    
    .ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu .dropdown-item:hover,
    .ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu .dropdown-item:focus {
        background: #ff0000;
        color: #fff;
    }
    
    @media (max-width: 991.98px) {
        .ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu {
            background: #000;
        }
        .ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu .dropdown-item {
            color: rgba(255, 255, 255, 0.8);
        }
    }
    
    .ftco-navbar-light .navbar-nav>.nav-item.cta>a {
        color: #fff;
        background: #ff0000;
        border-radius: 0px;
    }
    
    @media (max-width: 767.98px) {
        .ftco-navbar-light .navbar-nav>.nav-item.cta>a {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    
    @media (max-width: 991.98px) {
        .ftco-navbar-light .navbar-nav>.nav-item.cta>a {
            color: #fff;
            background: #ff0000;
            border-radius: 4px;
        }
    }
    
    .ftco-navbar-light .navbar-nav>.nav-item.active>a {
        color: #ff0000;
    }
    
    @media (max-width: 991.98px) {
        .ftco-navbar-light .navbar-nav>.nav-item.active>a {
            color: #fff;
        }
    }
    
    .ftco-navbar-light .navbar-toggler {
        border: none;
        color: rgba(255, 255, 255, 0.5) !important;
        cursor: pointer;
        padding-right: 0;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: .1em;
    }
    
    .ftco-navbar-light .navbar-toggler:focus {
        outline: none !important;
    }
    
    .navbar-brand {
        color: #000;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 30px;
    }
    
    .navbar-brand span {
        display: block;
        font-size: 12px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.3);
    }
    
    .navbar-brand:hover,
    .navbar-brand:focus {
        color: #000;
    }
    
    .social-media {
        display: inline-block;
    }
    
    @media (max-width: 991.98px) {
        .social-media {
            margin: 0 auto;
        }
    }
    
    @media (max-width: 767.98px) {
        .social-media {
            margin-bottom: 20px;
        }
    }
    
    .social-media p a {
        border: 1px solid #e6e6e6;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 4px;
    }
    
    .social-media p a span {
        color: #4d4d4d;
    }
    
    .social-media p a:hover {
        background: #ff0000;
        border-color: #ff0000;
    }
    
    .social-media p a:hover span {
        color: #fff;
    }
    
    .searchform {
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        overflow: hidden;
        border-radius: 40px;
    }
    
    @media (min-width: 992px) {
        .searchform {
            width: 300px;
        }
    }
    
    .searchform .form-control {
        width: calc(100% - 50px);
        border: none;
        background: #fff !important;
        color: rgba(0, 0, 0, 0.7) !important;
        font-size: 14px;
    }
    
    .searchform .form-control::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: rgba(0, 0, 0, 0.7) !important;
    }
    
    .searchform .form-control::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba(0, 0, 0, 0.7) !important;
    }
    
    .searchform .form-control:-ms-input-placeholder {
        /* IE 0+ */
        color: rgba(0, 0, 0, 0.7) !important;
    }
    
    .searchform .form-control:-moz-placeholder {
        /* Firefox 18- */
        color: rgba(0, 0, 0, 0.7) !important;
    }
    
    .searchform .search {
        width: 50px;
        height: 50px;
        background: #ff0000 !important;
    }
    
    .searchform .search span {
        font-size: 16px;
        color: #fff;
    }
    
    .form-control {
        height: 50px !important;
        background: #fff !important;
        color: #000 !important;
        font-size: 14px;
        border-radius: 0px;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    
    .form-control:focus,
    .form-control:active {
        border-color: #000;
    }
    /*=============================================
=            NAVBAR            =
=============================================*/
    
    .navbar {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }
    
    .navbar>.container,
    .navbar>.container-fluid {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    
    .navbar-brand {
        display: inline-block;
        padding-top: 0.3125rem;
        padding-bottom: 0.3125rem;
        margin-right: 1rem;
        font-size: 1.25rem;
        line-height: inherit;
        white-space: nowrap;
    }
    
    .navbar-brand:hover,
    .navbar-brand:focus {
        text-decoration: none;
    }
    
    .navbar-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }
    
    .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 0;
    }
    
    .navbar-nav .dropdown-menu {
        position: static;
        float: none;
    }
    
    .navbar-text {
        display: inline-block;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    
    .navbar-collapse {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    
    .navbar-toggler {
        padding: 0.25rem 0.75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 0.25rem;
    }
    
    .navbar-toggler:hover,
    .navbar-toggler:focus {
        text-decoration: none;
    }
    
    .navbar-toggler-icon {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        content: "";
        background: no-repeat center center;
        background-size: 100% 100%;
    }
    
    @media (max-width: 575.98px) {
        .navbar-expand-sm>.container,
        .navbar-expand-sm>.container-fluid {
            padding-right: 0;
            padding-left: 0;
        }
    }
    
    @media (min-width: 576px) {
        .navbar-expand-sm {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
        }
        .navbar-expand-sm .navbar-nav {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
        }
        .navbar-expand-sm .navbar-nav .dropdown-menu {
            position: absolute;
        }
        .navbar-expand-sm .navbar-nav .nav-link {
            padding-right: 0.5rem;
            padding-left: 0.5rem;
        }
        .navbar-expand-sm>.container,
        .navbar-expand-sm>.container-fluid {
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        }
        .navbar-expand-sm .navbar-collapse {
            display: -webkit-box !important;
            display: -ms-flexbox !important;
            display: flex !important;
            -ms-flex-preferred-size: auto;
            flex-basis: auto;
        }
        .navbar-expand-sm .navbar-toggler {
            display: none;
        }
    }
    
    @media (max-width: 767.98px) {
        .navbar-expand-md>.container,
        .navbar-expand-md>.container-fluid {
            padding-right: 0;
            padding-left: 0;
        }
    }
    
    @media (min-width: 768px) {
        .navbar-expand-md {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
        }
        .navbar-expand-md .navbar-nav {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
        }
        .navbar-expand-md .navbar-nav .dropdown-menu {
            position: absolute;
        }
        .navbar-expand-md .navbar-nav .nav-link {
            padding-right: 0.5rem;
            padding-left: 0.5rem;
        }
        .navbar-expand-md>.container,
        .navbar-expand-md>.container-fluid {
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        }
        .navbar-expand-md .navbar-collapse {
            display: -webkit-box !important;
            display: -ms-flexbox !important;
            display: flex !important;
            -ms-flex-preferred-size: auto;
            flex-basis: auto;
        }
        .navbar-expand-md .navbar-toggler {
            display: none;
        }
    }
    
    @media (max-width: 991.98px) {
        .navbar-expand-lg>.container,
        .navbar-expand-lg>.container-fluid {
            padding-right: 0;
            padding-left: 0;
        }
    }
    
    @media (min-width: 992px) {
        .navbar-expand-lg {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
        }
        .navbar-expand-lg .navbar-nav {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
        }
        .navbar-expand-lg .navbar-nav .dropdown-menu {
            position: absolute;
        }
        .navbar-expand-lg .navbar-nav .nav-link {
            padding-right: 0.5rem;
            padding-left: 0.5rem;
        }
        .navbar-expand-lg>.container,
        .navbar-expand-lg>.container-fluid {
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        }
        .navbar-expand-lg .navbar-collapse {
            display: -webkit-box !important;
            display: -ms-flexbox !important;
            display: flex !important;
            -ms-flex-preferred-size: auto;
            flex-basis: auto;
        }
        .navbar-expand-lg .navbar-toggler {
            display: none;
        }
    }
    
    @media (max-width: 1199.98px) {
        .navbar-expand-xl>.container,
        .navbar-expand-xl>.container-fluid {
            padding-right: 0;
            padding-left: 0;
        }
    }
    
    @media (min-width: 1200px) {
        .navbar-expand-xl {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
        }
        .navbar-expand-xl .navbar-nav {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
        }
        .navbar-expand-xl .navbar-nav .dropdown-menu {
            position: absolute;
        }
        .navbar-expand-xl .navbar-nav .nav-link {
            padding-right: 0.5rem;
            padding-left: 0.5rem;
        }
        .navbar-expand-xl>.container,
        .navbar-expand-xl>.container-fluid {
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        }
        .navbar-expand-xl .navbar-collapse {
            display: -webkit-box !important;
            display: -ms-flexbox !important;
            display: flex !important;
            -ms-flex-preferred-size: auto;
            flex-basis: auto;
        }
        .navbar-expand-xl .navbar-toggler {
            display: none;
        }
    }
    
    .navbar-expand {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    
    .navbar-expand>.container,
    .navbar-expand>.container-fluid {
        padding-right: 0;
        padding-left: 0;
    }
    
    .navbar-expand .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    
    .navbar-expand .navbar-nav .dropdown-menu {
        position: absolute;
    }
    
    .navbar-expand .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    
    .navbar-expand>.container,
    .navbar-expand>.container-fluid {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    
    .navbar-expand .navbar-collapse {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    
    .navbar-expand .navbar-toggler {
        display: none;
    }
    
    .navbar-light .navbar-brand {
        color: rgba(0, 0, 0, 0.9);
    }
    
    .navbar-light .navbar-brand:hover,
    .navbar-light .navbar-brand:focus {
        color: rgba(0, 0, 0, 0.9);
    }
    
    .navbar-light .navbar-nav .nav-link {
        color: rgba(0, 0, 0, 0.5);
    }
    
    .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .navbar-nav .nav-link:focus {
        color: rgba(0, 0, 0, 0.7);
    }
    
    .navbar-light .navbar-nav .nav-link.disabled {
        color: rgba(0, 0, 0, 0.3);
    }
    
    .navbar-light .navbar-nav .show>.nav-link,
    .navbar-light .navbar-nav .active>.nav-link,
    .navbar-light .navbar-nav .nav-link.show,
    .navbar-light .navbar-nav .nav-link.active {
        color: rgba(0, 0, 0, 0.9);
    }
    
    .navbar-light .navbar-toggler {
        color: rgba(0, 0, 0, 0.5);
        border-color: rgba(0, 0, 0, 0.1);
    }
    
    .navbar-light .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    
    .navbar-light .navbar-text {
        color: rgba(0, 0, 0, 0.5);
    }
    
    .navbar-light .navbar-text a {
        color: rgba(0, 0, 0, 0.9);
    }
    
    .navbar-light .navbar-text a:hover,
    .navbar-light .navbar-text a:focus {
        color: rgba(0, 0, 0, 0.9);
    }
    
    .navbar-dark .navbar-brand {
        color: #fff;
    }
    
    .navbar-dark .navbar-brand:hover,
    .navbar-dark .navbar-brand:focus {
        color: #fff;
    }
    
    .navbar-dark .navbar-nav .nav-link {
        color: rgba(255, 255, 255, 0.5);
    }
    
    .navbar-dark .navbar-nav .nav-link:hover,
    .navbar-dark .navbar-nav .nav-link:focus {
        color: rgba(255, 255, 255, 0.75);
    }
    
    .navbar-dark .navbar-nav .nav-link.disabled {
        color: rgba(255, 255, 255, 0.25);
    }
    
    .navbar-dark .navbar-nav .show>.nav-link,
    .navbar-dark .navbar-nav .active>.nav-link,
    .navbar-dark .navbar-nav .nav-link.show,
    .navbar-dark .navbar-nav .nav-link.active {
        color: #fff;
    }
    
    .navbar-dark .navbar-toggler {
        color: rgba(255, 255, 255, 0.5);
        border-color: rgba(255, 255, 255, 0.1);
    }
    
    .navbar-dark .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    
    .navbar-dark .navbar-text {
        color: rgba(255, 255, 255, 0.5);
    }
    
    .navbar-dark .navbar-text a {
        color: #fff;
    }
    
    .navbar-dark .navbar-text a:hover,
    .navbar-dark .navbar-text a:focus {
        color: #fff;
    }
    /*=====  End of NAVBAR  ======*/
    /*----------  END OF HEADER  ----------*/
    
    .comot {
        clear: both;
    }
    /*=============================================
    =            REASON            =
    =============================================*/
    
    .top,
    .top2 {
        width: 100%;
        height: 250px;
        text-align: center;
        box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.3);
        background-image: linear-gradient(60deg, #339299 10%, #633e9c);
        padding-top: 3rem;
        color: white;
        border-radius: 10px;
    }
    
    .top2 {
        background-image: linear-gradient(45deg, #633e9c 50%, #339299);
    }
    
    .top i,
    .top2 i {
        font-size: 2.3rem;
        padding: 20px;
        border-radius: 100%;
        box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.3);
    }
    
    .top h4,
    .top2 h4 {
        font-size: 1.8rem;
        font-style: italic;
        margin-top: 2rem;
        color: white;
    }
    
    @media screen and (max-width:760px) {
        .top,
        .top2 {
            width: 70%;
            margin: auto;
            margin-top: 1rem;
        }
    }
    
    @media screen and (max-width:767px) {
        .top,
        .top2 {
            width: 90%;
            margin: auto;
            margin-top: 2rem;
        }
    }
    
    .reason {
        height: auto;
        padding-bottom: 60px;
        padding-top: 60px;
    }
    
    .reason h1 {
        font-size: 60px
    }
    
    .reason .reason-list {
        text-align: center;
    }
    
    .reason .reason__list {
        width: 220px;
        height: 220px;
        border-radius: 100%;
        display: flex;
        margin: auto;
    }
    
    .reason__list img {
        width: 220px;
        height: 200px;
        border-radius: 100%;
    }
    
    .reason a {
        background-image: linear-gradient(60deg, #339299 10%, #633e9c);
        width: 300px;
        padding: 15px 50px;
    }
    
    .reason a:hover {
        background-image: linear-gradient(45deg, #633e9c 50%, #339299);
        color: white;
        transition: ease-in .3s;
        box-shadow: 6px 0px 16px 0px rgba(0, 0, 0, 0.3);
    }
    /*=====  End of REASON  ======*/
    /*=============================================
    =            GET STARTED            =
    =============================================*/
    
    .get-started {
        padding-top: 4rem;
        background-image: linear-gradient(60deg, #0c185f 10%, #633e9c);
        height: auto;
        padding-bottom: 20px;
    }
    
    .get-started h4 {
        font-size: 2rem;
        color: white;
    }
    
    .get-started h1 {
        color: white;
    }
    
    .get-started i {
        border-radius: 100%;
        font-size: 2rem;
    }
    
    .house-icon {
        width: 100px;
        height: 100px;
        border: 2px solid #fa7671;
        padding: 16px;
        border-radius: 100%;
        font-size: 2rem;
        border-width: 6px 0px 0px;
        text-align: center;
    }
    
    .house-icon2 {
        width: 100px;
        height: 100px;
        border: 2px solid #339299;
        padding: 16px;
        border-radius: 100%;
        font-size: 2.3rem;
        border-width: 0px 6px 0px 0px;
        text-align: center;
    }
    
    .house-icon3 {
        width: 100px;
        height: 100px;
        border: 2px solid #0ec15d;
        padding: 16px;
        border-radius: 100%;
        font-size: 2.3rem;
        border-width: 0px 0px 6px;
        text-align: center;
    }
    /*=====  End of GET STARTED  ======*/
    /*=============================================
    =            CONCEPT            =
    =============================================*/
    
    .concept {
        height: auto;
        padding-bottom: 60px;
        padding-top: 60px;
    }
    
    .concept h1 {
        font-size: 60px
    }
    
    .concept p {
        font-weight: 600;
    }
    
    .concept-img {
        width: 100%;
        height: auto;
        display: flex;
    }
    
    .concept-img img {
        width: 100%;
        height: 200px;
        margin: auto;
        border-radius: 10px;
    }
    
    @media screen and (max-width:767px) {
        .concept-img img {
            width: 70%;
        }
        .concept p {
            text-align: center;
        }
    }
    /*=====  End of CONCEPT  ======*/
    /*=============================================
    =            subscribing            =
    =============================================*/
    
    .sub {
        position: relative;
        cursor: pointer;
    }
    
    .sub .face {
        width: 100%;
        height: 200px;
        transition: 0.5s;
    }
    
    .sub .face.face1 {
        position: relative;
        background-color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        transform: translateY(100px);
    }
    
    .sub:hover .face.face1 {
        background-color: #ff0057;
        transform: translateY(0);
    }
    
    .sub .face.face1 .content {
        opacity: 0.2;
        transition: 0.5s;
    }
    
    .sub:hover .face.face1 .content {
        opacity: 1;
    }
    
    .sub:hover .face.face1 .content img {
        max-width: 100px;
    }
    
    .sub:hover .face.face1 .content h3 {
        margin: 10px 0 0;
        padding: 0;
        color: #fff;
        text-align: center;
        font-size: 1.5rem;
    }
    
    .sub .face.face2 {
        position: relative;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 30px;
        padding-bottom: 30px;
        box-sizing: border-box;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
        transform: translateY(-100px);
    }
    
    .sub:hover .face.face2 {
        transform: translateY(0);
    }
    
    .sub .face.face2 .content p {
        margin: 0;
        padding: 0;
    }
    
    .sub .face.face2 .content a {
        margin: 15px 0 0;
        display: inline-block;
        text-decoration: none;
        font-weight: 900;
        color: #333;
        padding: 5px;
        border: 1px solid #333;
    }
    
    .sub .face.face2 .content a:hover {
        background-color: #333;
        color: #fff;
    }
    
    @media screen and (max-width:991px) {
        .sub .face {
            height: 250px;
        }
        .sub .face.face2 {
            height: auto;
            padding: 1px 3px 10px 10px;
            transform: translateY(-150px);
        }
        .sub .face.face2 .content a {
            margin: 5px 0 0;
        }
    }
    
    @media screen and (max-width:767px) {
        .sub {
            width: 100%;
        }
        .sub .face {
            width: 70%;
            margin: auto;
        }
    }
    /*=====  End of subscribing  ======*/
    /*---------------------
	Contact page
-----------------------*/
    
    *+.list-creative {
        margin-top: 30px;
    }
    
    .list-creative {
        text-align: left;
    }
    
    ul,
    ol {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    ol,
    ul,
    dl {
        margin-top: 0;
        margin-bottom: 1rem;
    }
    
    .list-terms-medium {
        position: relative;
        padding: 10px 0 10px 30px;
        border-left: 3px solid rgb(36, 52, 82);
    }
    
    .list-terms-medium dt {
        font-weight: 700;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #151515;
    }
    
    dt,
    dd {
        line-height: inherit;
    }
    
    .list-terms-medium dt+dd {
        margin-top: 10px;
    }
    
    .list-terms-medium a {
        color: #868e96;
    }
    
    .contact-form {
        padding-right: 35px;
    }
    
    .contact-form h5 {
        font-size: 16px;
        font-family: "Rubik", sans-serif;
    }
    
    .contact-form h5 span {
        color: #16d0c5;
    }
    
    .contact-form .form-group {
        position: relative;
        margin-bottom: 20px;
    }
    
    .contact-form .form-group span {
        position: absolute;
        right: 0;
        top: 10px;
        font-size: 16px;
        color: #7bc063;
        opacity: 0;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    
    .contact-form .form-group span.active {
        opacity: 1;
    }
    
    .contact-form .check-form {
        padding-right: 20px;
    }
    
    .contact-form input,
    .contact-form textarea {
        width: 100%;
        height: 50px;
        border: none;
        border-bottom: 1px solid gray;
        font-size: 16px;
        padding-bottom: 10px;
        color: rgb(150, 150, 150);
    }
    
    .contact-form input:focus,
    .contact-form textarea:focus {
        border-color: rgb(156, 156, 156);
    }
    
    .contact-form textarea {
        padding-bottom: 10px;
        padding-top: 10px;
        height: 115px;
    }
    
    .contact-form .contact-type .ct-label {
        display: inline-block;
        position: relative;
        padding-left: 20px;
        margin-bottom: 12px;
        margin-right: 40px;
        cursor: pointer;
        font-size: 16px;
        color: #acb9cc;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    .contact-form .contact-type .ct-label input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    
    .contact-form .contact-type .ct-label input:checked~.checkmark:after {
        content: "\f111";
        color: #16d0c5;
    }
    
    .contact-form .contact-type .ct-label .checkmark {
        position: absolute;
        top: 3px;
        left: 0;
        height: 25px;
        width: 25px;
    }
    
    .contact-form .contact-type .ct-label .checkmark:after {
        position: absolute;
        content: "\f10c";
        font-family: "FontAwesome";
        font-size: 14px;
    }
    
    .contact-form .contact-type .ct-label:last-child {
        margin-right: 0;
    }
    
    .contact-form ::-webkit-input-placeholder {
        color: #acb9cc;
    }
    
    .contact-form :-ms-input-placeholder {
        color: #acb9cc;
    }
    
    .contact-form ::-ms-input-placeholder {
        color: #acb9cc;
    }
    
    .contact-form ::placeholder {
        color: #acb9cc;
    }
    /*=============================================
    =            TOPSONG            =
    =============================================*/
    
    .main-topsong {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        margin-top: -2rem;
    }
    
    @media screen and (max-width:890px) {
        .main-topsong {
            flex-direction: column;
        }
        .topsong,
        aside.aside {
            width: 100% !important;
        }
    }
    
    aside.aside {
        width: 400px;
        height: auto;
        padding-top: 1rem;
    }
    
    .topsong {
        width: 80%;
        height: auto;
    }
    
    .song__ {
        width: 100%;
        height: auto;
        display: flex !important;
        padding-bottom: 1rem;
    }
    
    @media screen and (max-width:575px) {
        .song__ {
            flex-direction: column !important;
        }
        .song__link {
            width: 200px;
        }
    }
    
    @media screen and (max-width:486px) {
        .ran .song__link:nth-child(2) {
            margin-left: 7px !important;
        }
        .ran .song__link:nth-child(1) {
            padding-left: 1.8rem;
        }
    }
    
    @media screen and (max-width:402px) {
        .ran {
            flex-direction: column !important;
            flex-wrap: wrap
        }
        .three {
            margin-left: 2px !important;
        }
    }
    
    @media screen and (max-width:1024px) {
        .one {
            margin-left: -9px !important;
        }
        .two {
            margin-left: -2px !important;
        }
    }
    
    @media screen and (max-width:1019px) {
        .one {
            margin-left: -14px !important;
        }
        .two {
            margin-left: -7px !important;
        }
    }
    
    @media screen and (max-width:991px) {
        .one {
            margin-left: 12px !important;
        }
        .two {
            margin-left: 7px !important;
        }
    }
    
    .ran {
        width: 100%;
        height: auto;
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap;
    }
    
    .ran .song__link:nth-child(1) {
        margin-left: -20px;
    }
    
    .ran .song__link:nth-child(2) {
        margin-left: 10px;
    }
    
    .topsong-img {
        width: 100%;
        height: auto;
        display: flex;
    }
    
    .topsong-img h3 {
        margin-top: 3.9rem;
        font-size: 1.2rem;
    }
    
    .topsong-img img {
        width: 100%;
        height: 120px;
        margin-top: 20px;
        margin-left: 10px;
        border-radius: 10px;
    }
    
    .topsong-about {
        width: 100%;
        height: auto;
        padding: 20px;
        text-overflow: ellipsis;
        margin-top: 1rem;
    }
    
    .song__link p a,
    .topsong-trend a {
        background-image: linear-gradient(60deg, #339299 10%, #633e9c);
        width: auto;
        padding: 11px 20px;
        border-radius: 20px;
        color: white;
    }
    
    .topsong-about p a:nth-child(2) {
        margin-left: .7rem;
    }
    
    .song__link p a:hover,
    .topsong-trend a:hover,
    .sub button {
        box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.7)
    }
    
    .topsong-trend {
        width: 100%;
        height: auto;
        margin-top: 1rem;
    }
    
    .topsong-trend img {
        width: 100%;
        border-radius: 10px;
    }
    
    @media screen and (max-width:480px) {
        .topsong-trend img {
            width: 70%;
        }
	    


 
    
    }
    @media screen and (max-width:500px) {

        

           

        

	    .topsong-img img {

        width: 50% ! important;

        

    }

    }
    
    .topsong-trend p {
        margin-top: 1.5rem;
    }
    
    .topsong-trend form input {
        width: 100%;
        filter: drop-shadow(0px 8px 0px 6px);
        border-radius: 10px;
        border: 1px groove;
        height: 50px;
        background-color: whitesmoke;
    }
    
    .sub button {
        background-image: linear-gradient(60deg, #339299 10%, #633e9c);
        width: 200px;
        padding: 11px 11px;
        border-radius: 20px;
        color: white;
        border: none;
        margin: auto;
        box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.7)
    }
    
    .sub button:hover {
        background-image: linear-gradient(60deg, #633e9c 10%, #339299);
    }
    
    .page {
        width: 300px;
        height: auto;
        margin-top: 1rem;
    }
    
    .page a:nth-child(1),
    .page a:nth-child(2) {
        background-image: linear-gradient(60deg, #339299 10%, #633e9c);
        width: 200px;
        padding: 11px 14px;
        border-radius: 10px;
        color: white;
        margin-left: 10px;
    }
    
    .page a:nth-child(1):hover,
    .page a:nth-child(2):hover {
        background-image: linear-gradient(60deg, #339299 10%, #633e9c);
        width: 200px;
        padding: 11px 11px;
        border-radius: 20px;
        box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.7);
    }
    
    .page i {
        font-size: 1.5rem;
        margin-left: 1rem;
        color: black;
    }
    /*=====  End of TOPSONG  ======*/
    /*=============================================
    =            AlBUMS            =
    =============================================*/
    
    .album {
        padding-bottom: 20px;
    }
    
    .album a {
        background-image: linear-gradient(60deg, #339299 10%, #633e9c);
        width: 300px;
        padding: 15px 50px;
    }
    
    .album a:hover {
        background-image: linear-gradient(45deg, #633e9c 50%, #339299);
        color: white;
        transition: ease-in .3s;
        box-shadow: 6px 0px 16px 0px rgba(0, 0, 0, 0.3);
    }
    
    .album-cover {
        width: 300px;
        height: 300px;
    }
    
    .album-cover img {
        width: 100%;
        border-radius: 20px;
    }
    
    .album-cover h4 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    /*=====  End of AlBUMS  ======*/
    /*=============================================
    =            Footer            =
    =============================================*/
    
    footer {
        width: 100%;
        height: auto;
        background: rgb(11, 17, 26);
        padding-top: 2rem;
        margin-top: 3rem;
    }
    
    footer .follow {
        width: 100%;
        height: auto;
        text-align: center;
        color: white;
    }
    
    .follow h2 {
        font-size: 2.3rem;
        color: white;
    }
    
    footer .follow i {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        color: rgb(75, 89, 114);
        padding: 0 .4rem;
        cursor: pointer;
        font-size: 1.3rem;
        margin-left: 10px;
        margin-top: 1rem;
        background-color: white;
        text-align: center;
        padding-top: .7rem;
    }
    
    footer .follow i:hover {
        background-color: #ff0000;
        color: white;
    }
    
    .footer-main {
        width: 100%;
        height: auto;
    }
    
    footer .footer-link {
        width: 78%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: auto;
        margin-top: 2rem;
        padding-top: 2rem;
    }
    
    footer .footer-links {
        width: 100px;
        height: 50px;
        text-align: center;
        font-size: 1.1rem;
        color: white;
        margin: auto;
    }
    
    .footer-link a {
        color: white;
    }
    
    .footer-link a:hover {
        color: #ff0000;
    }
    
    footer .right {
        justify-content: center;
        width: 80%;
        height: 80px;
        margin: auto;
        margin-top: 2rem;
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border-top: 1px solid;
        padding-top: 2rem;
        display: flex;
        justify-content: space-between;
    }
    
    footer .right a {
        font-size: 1.2rem;
        color: white;
    }
    
    @media screen and (max-width: 578px) {
        footer .right h4 {
            font-size: 1rem;
        }
        footer a {
            color: white;
        }
        .right {
            flex-direction: column;
            text-align: center;
        }
    }
    /*=====  End of Footer  ======*/
